In [2]:
import pandas as pd

train_df = pd.read_pickle(f"data/echr/non-anon_train.pkl")

In [3]:
train_df

,itemid,text,violated_articles,violated,non_violated_articles,all_articles,importance,inadmissible,date,docname
0,001-60714,The applicant was born in 1943 and lives in La...,[6],True,[],[6],4,False,2002,CASE OF PIETILAINEN v. FINLAND
1,001-100920,"The applicant, Mr Panayiotis Panayi, is a Cypr...",[],False,[],[],4,True,2010,PANAYI v. CYPRUS
2,001-77249,The Salvation Army worked officially in Russia...,"[11, 9]",True,[],"[11, 9]",1,False,2006,CASE OF THE MOSCOW BRANCH OF THE SALVATION ARM...
3,001-4589,"The applicant is a British national, born in 1...",[],False,[],[],4,True,1999,A.J. v. THE UNITED KINGDOM
4,001-83374,The applicant was born in 1967 and lives in Li...,[5],True,[],[5],3,False,2007,CASE OF GAULT v. THE UNITED KINGDOM
...,...,...,...,...,...,...,...,...,...,...
7095,001-79795,The applicant was born in 1971 and lives in Pl...,[6],True,[],[6],3,False,2007,CASE OF GHEORGHE v. ROMANIA
7096,001-67768,The applicant was born in 1954 and lives in Bo...,[6],True,[],[6],4,False,2004,CASE OF WOJTKIEWICZ v. POLAND
7097,001-115305,"The applicants were born in 1956, 1965, 1986 a...",[2],True,[],[2],4,False,2012,CASE OF KUDRA v. CROATIA
7098,001-105820,The applicant was born in 1929. She was retire...,"[6, 8]",True,[],"[6, 8]",2,False,2011,CASE OF GEORGEL AND GEORGETA STOICESCU v. ROMANIA
7099,001-22045,"The applicant, George Kenneth Mensah, has both...",[],False,[],[],4,True,2001,MENSAH v. THE NETHERLANDS